/*
░█▄█░█▀█░▀█▀░█░█░█▀▀░█▀▀░█▀█░░░░░░░░░█▀▀░█▀█░█▀▀░█▀▀░█▀█░█▀▄░▀█▀░█▀█░█▀▀░░░█▀▀░▀█▀░█░█░█░░░█▀▀░░░█▀▀░█░█░█▀▀░█▀▀░▀█▀░█▀▀
░█░█░█▀█░░█░░█░█░█░█░█▀▀░█░█░░░▄▄▄░░░█░░░█▀█░▀▀█░█░░░█▀█░█░█░░█░░█░█░█░█░░░▀▀█░░█░░░█░░█░░░█▀▀░░░▀▀█░█▀█░█▀▀░█▀▀░░█░░▀▀█
░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀▀▀░▀░▀░░░░░░░░░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀░▀░▀▀▀░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░░░▀▀▀░▀░▀░▀▀▀░▀▀▀░░▀░░▀▀▀
*/


    @define-color background rgba(18, 19, 24, 1);

    @define-color error rgba(255, 180, 171, 1);

    @define-color error_container rgba(147, 0, 10, 1);

    @define-color inverse_on_surface rgba(47, 48, 54, 1);

    @define-color inverse_primary rgba(72, 93, 146, 1);

    @define-color inverse_surface rgba(226, 226, 233, 1);

    @define-color on_background rgba(226, 226, 233, 1);

    @define-color on_error rgba(105, 0, 5, 1);

    @define-color on_error_container rgba(255, 218, 214, 1);

    @define-color on_primary rgba(22, 46, 96, 1);

    @define-color on_primary_container rgba(218, 226, 255, 1);

    @define-color on_primary_fixed rgba(0, 25, 70, 1);

    @define-color on_primary_fixed_variant rgba(47, 69, 120, 1);

    @define-color on_secondary rgba(42, 48, 66, 1);

    @define-color on_secondary_container rgba(220, 226, 249, 1);

    @define-color on_secondary_fixed rgba(21, 27, 44, 1);

    @define-color on_secondary_fixed_variant rgba(64, 70, 89, 1);

    @define-color on_surface rgba(226, 226, 233, 1);

    @define-color on_surface_variant rgba(197, 198, 208, 1);

    @define-color on_tertiary rgba(65, 39, 66, 1);

    @define-color on_tertiary_container rgba(254, 215, 250, 1);

    @define-color on_tertiary_fixed rgba(42, 18, 44, 1);

    @define-color on_tertiary_fixed_variant rgba(89, 61, 89, 1);

    @define-color outline rgba(143, 144, 153, 1);

    @define-color outline_variant rgba(68, 70, 79, 1);

    @define-color primary rgba(177, 197, 255, 1);

    @define-color primary_container rgba(47, 69, 120, 1);

    @define-color primary_fixed rgba(218, 226, 255, 1);

    @define-color primary_fixed_dim rgba(177, 197, 255, 1);

    @define-color scrim rgba(0, 0, 0, 1);

    @define-color secondary rgba(192, 198, 220, 1);

    @define-color secondary_container rgba(64, 70, 89, 1);

    @define-color secondary_fixed rgba(220, 226, 249, 1);

    @define-color secondary_fixed_dim rgba(192, 198, 220, 1);

    @define-color shadow rgba(0, 0, 0, 1);

    @define-color source_color rgba(54, 99, 194, 1);

    @define-color surface rgba(18, 19, 24, 1);

    @define-color surface_bright rgba(56, 57, 63, 1);

    @define-color surface_container rgba(30, 31, 37, 1);

    @define-color surface_container_high rgba(40, 42, 47, 1);

    @define-color surface_container_highest rgba(51, 52, 58, 1);

    @define-color surface_container_low rgba(26, 27, 33, 1);

    @define-color surface_container_lowest rgba(13, 14, 19, 1);

    @define-color surface_dim rgba(18, 19, 24, 1);

    @define-color surface_tint rgba(177, 197, 255, 1);

    @define-color surface_variant rgba(68, 70, 79, 1);

    @define-color tertiary rgba(224, 187, 221, 1);

    @define-color tertiary_container rgba(89, 61, 89, 1);

    @define-color tertiary_fixed rgba(254, 215, 250, 1);

    @define-color tertiary_fixed_dim rgba(224, 187, 221, 1);



    @define-color background_blur rgba(18, 19, 24, 0);

    @define-color error_blur rgba(255, 180, 171, 0);

    @define-color error_container_blur rgba(147, 0, 10, 0);

    @define-color inverse_on_surface_blur rgba(47, 48, 54, 0);

    @define-color inverse_primary_blur rgba(72, 93, 146, 0);

    @define-color inverse_surface_blur rgba(226, 226, 233, 0);

    @define-color on_background_blur rgba(226, 226, 233, 0);

    @define-color on_error_blur rgba(105, 0, 5, 0);

    @define-color on_error_container_blur rgba(255, 218, 214, 0);

    @define-color on_primary_blur rgba(22, 46, 96, 0);

    @define-color on_primary_container_blur rgba(218, 226, 255, 0);

    @define-color on_primary_fixed_blur rgba(0, 25, 70, 0);

    @define-color on_primary_fixed_variant_blur rgba(47, 69, 120, 0);

    @define-color on_secondary_blur rgba(42, 48, 66, 0);

    @define-color on_secondary_container_blur rgba(220, 226, 249, 0);

    @define-color on_secondary_fixed_blur rgba(21, 27, 44, 0);

    @define-color on_secondary_fixed_variant_blur rgba(64, 70, 89, 0);

    @define-color on_surface_blur rgba(226, 226, 233, 0);

    @define-color on_surface_variant_blur rgba(197, 198, 208, 0);

    @define-color on_tertiary_blur rgba(65, 39, 66, 0);

    @define-color on_tertiary_container_blur rgba(254, 215, 250, 0);

    @define-color on_tertiary_fixed_blur rgba(42, 18, 44, 0);

    @define-color on_tertiary_fixed_variant_blur rgba(89, 61, 89, 0);

    @define-color outline_blur rgba(143, 144, 153, 0);

    @define-color outline_variant_blur rgba(68, 70, 79, 0);

    @define-color primary_blur rgba(177, 197, 255, 0);

    @define-color primary_container_blur rgba(47, 69, 120, 0);

    @define-color primary_fixed_blur rgba(218, 226, 255, 0);

    @define-color primary_fixed_dim_blur rgba(177, 197, 255, 0);

    @define-color scrim_blur rgba(0, 0, 0, 0);

    @define-color secondary_blur rgba(192, 198, 220, 0);

    @define-color secondary_container_blur rgba(64, 70, 89, 0);

    @define-color secondary_fixed_blur rgba(220, 226, 249, 0);

    @define-color secondary_fixed_dim_blur rgba(192, 198, 220, 0);

    @define-color shadow_blur rgba(0, 0, 0, 0);

    @define-color source_color_blur rgba(54, 99, 194, 0);

    @define-color surface_blur rgba(18, 19, 24, 0);

    @define-color surface_bright_blur rgba(56, 57, 63, 0);

    @define-color surface_container_blur rgba(30, 31, 37, 0);

    @define-color surface_container_high_blur rgba(40, 42, 47, 0);

    @define-color surface_container_highest_blur rgba(51, 52, 58, 0);

    @define-color surface_container_low_blur rgba(26, 27, 33, 0);

    @define-color surface_container_lowest_blur rgba(13, 14, 19, 0);

    @define-color surface_dim_blur rgba(18, 19, 24, 0);

    @define-color surface_tint_blur rgba(177, 197, 255, 0);

    @define-color surface_variant_blur rgba(68, 70, 79, 0);

    @define-color tertiary_blur rgba(224, 187, 221, 0);

    @define-color tertiary_container_blur rgba(89, 61, 89, 0);

    @define-color tertiary_fixed_blur rgba(254, 215, 250, 0);

    @define-color tertiary_fixed_dim_blur rgba(224, 187, 221, 0);



    @define-color background_mid rgba(18, 19, 24, 1);

    @define-color error_mid rgba(255, 180, 171, 1);

    @define-color error_container_mid rgba(147, 0, 10, 1);

    @define-color inverse_on_surface_mid rgba(47, 48, 54, 1);

    @define-color inverse_primary_mid rgba(72, 93, 146, 1);

    @define-color inverse_surface_mid rgba(226, 226, 233, 1);

    @define-color on_background_mid rgba(226, 226, 233, 1);

    @define-color on_error_mid rgba(105, 0, 5, 1);

    @define-color on_error_container_mid rgba(255, 218, 214, 1);

    @define-color on_primary_mid rgba(22, 46, 96, 1);

    @define-color on_primary_container_mid rgba(218, 226, 255, 1);

    @define-color on_primary_fixed_mid rgba(0, 25, 70, 1);

    @define-color on_primary_fixed_variant_mid rgba(47, 69, 120, 1);

    @define-color on_secondary_mid rgba(42, 48, 66, 1);

    @define-color on_secondary_container_mid rgba(220, 226, 249, 1);

    @define-color on_secondary_fixed_mid rgba(21, 27, 44, 1);

    @define-color on_secondary_fixed_variant_mid rgba(64, 70, 89, 1);

    @define-color on_surface_mid rgba(226, 226, 233, 1);

    @define-color on_surface_variant_mid rgba(197, 198, 208, 1);

    @define-color on_tertiary_mid rgba(65, 39, 66, 1);

    @define-color on_tertiary_container_mid rgba(254, 215, 250, 1);

    @define-color on_tertiary_fixed_mid rgba(42, 18, 44, 1);

    @define-color on_tertiary_fixed_variant_mid rgba(89, 61, 89, 1);

    @define-color outline_mid rgba(143, 144, 153, 1);

    @define-color outline_variant_mid rgba(68, 70, 79, 1);

    @define-color primary_mid rgba(177, 197, 255, 1);

    @define-color primary_container_mid rgba(47, 69, 120, 1);

    @define-color primary_fixed_mid rgba(218, 226, 255, 1);

    @define-color primary_fixed_dim_mid rgba(177, 197, 255, 1);

    @define-color scrim_mid rgba(0, 0, 0, 1);

    @define-color secondary_mid rgba(192, 198, 220, 1);

    @define-color secondary_container_mid rgba(64, 70, 89, 1);

    @define-color secondary_fixed_mid rgba(220, 226, 249, 1);

    @define-color secondary_fixed_dim_mid rgba(192, 198, 220, 1);

    @define-color shadow_mid rgba(0, 0, 0, 1);

    @define-color source_color_mid rgba(54, 99, 194, 1);

    @define-color surface_mid rgba(18, 19, 24, 1);

    @define-color surface_bright_mid rgba(56, 57, 63, 1);

    @define-color surface_container_mid rgba(30, 31, 37, 1);

    @define-color surface_container_high_mid rgba(40, 42, 47, 1);

    @define-color surface_container_highest_mid rgba(51, 52, 58, 1);

    @define-color surface_container_low_mid rgba(26, 27, 33, 1);

    @define-color surface_container_lowest_mid rgba(13, 14, 19, 1);

    @define-color surface_dim_mid rgba(18, 19, 24, 1);

    @define-color surface_tint_mid rgba(177, 197, 255, 1);

    @define-color surface_variant_mid rgba(68, 70, 79, 1);

    @define-color tertiary_mid rgba(224, 187, 221, 1);

    @define-color tertiary_container_mid rgba(89, 61, 89, 1);

    @define-color tertiary_fixed_mid rgba(254, 215, 250, 1);

    @define-color tertiary_fixed_dim_mid rgba(224, 187, 221, 1);

