/*
░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀▀░█▀▀
░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄░░░▄▄▄░░░█░░░▀▀█░▀▀█
░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀░░░░░░░░░▀▀▀░▀▀▀░▀▀▀
*/

@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Recursive Sans Casual Static", "Symbols Nerd Font";
    font-size: 14px;
}

#waybar {
    background-color: @surface_blur;
    color: @on_surface;
}

#workspaces {
    padding: 2px 0px;
    margin: 2px;
    border-radius: 999999px;
    background-color: @surface;
    color: @on_surface;
}

#workspaces button {
    font-weight: bold;
    border-radius: 999999px;
    padding: 0 9px;
    color: @tertiary;
    background-color: @on_tertiary;
    margin: 0px 1px;
}

#workspaces button:hover {
    background-color: @secondary;
    color: @on_secondary;
}

#workspaces button.active {
    padding: 0 15px;
    background-color: @primary;
    color: @on_primary;
}

#workspaces button.empty:not(.active) {
    background-color: @outline_blur;
}

#workspaces button.urgent {
    padding: 0 12px;
    background-color: @error;
    color: @on_error;
}

#backlight,
#battery,
#clock,
#idle_inhibitor,
#mpris,
#pulseaudio,
#tray,
#bluetooth,
#power-profiles-daemon,
#utilities,
#hardware,
#network {
    padding: 0px 12px;
    margin: 2px 2px;
    border-radius: 999999px;
    background-color: @surface;
    color: @on_surface;
}

#custom-screenshot,
#custom-apps,
#custom-color,
#memory,
#cpu,
#disk,
#temperature {
    margin: 0px 8px;
}

#cpu {
    margin-left: 0px;
}

#custom-color {
    margin-right: 0px;
}

#disk {
    padding-right: 8px;
}

#custom-screenshot {
    padding-left: 8px;
}

#pulseaudio,
#clock {
    margin-left: 6px;
}

#battery {
    margin-right: 6px;
}

#battery.charging {
    background-color: @primary;
    color: @on_primary;
}

#battery.warning:not(.charging) {
    background-color: @error;
    color: @on_error;
}

@keyframes battery-blink {
    to {
        background-color: @on_error;
        color: @error;
    }
}

#battery.critical:not(.charging) {
    background-color: @error;
    color: @on_error;
    animation-name: battery-blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.full {
    background-color: @tertiary;
    color: @on_tertiary;
}

#idle_inhibitor.activated {
    background-color: @primary;
    color: @on_primary;
}

#power-profiles-daemon.performance {
    background-color: @error;
    color: @on_error;
}

#power-profiles-daemon.power-saver {
    background-color: @primary;
    color: @on_primary;
}

#mpris.playing {
    background-color: @primary;
    color: @on_primary;
}

#mpris.stopped {
    background-color: @error;
    color: @on_error;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
    background-color: @error;
    color: @on_error;
}

#pulseaudio.bluetooth {
    background-color: @primary;
    color: @on_primary;
}

#pulseaudio:hover {
    background-color: @tertiary;
    color: @on_tertiary;
}

#tray > .needs-attention {
    background-color: @error;
    color: @on_error;
}

#bluetooth.disabled,
#bluetooth.no-controller,
#bluetooth.off {
    background-color: @error;
    color: @on_error;
}

#bluetooth.connected {
    background-color: @primary;
    color: @on_primary;
}

#bluetooth.discoverable,
#bluetooth.pairable {
    background-color: @tertiary;
    color: @on_tertiary;
}

#temperature.critical {
    background-color: @error;
    color: @on_error;
}

#network:hover {
    background-color: @tertiary;
    color: @on_tertiary;
}

#network.disabled,
#network.disconnected {
    background-color: @error;
    color: @on_error;
}
