// ░█▀▄░█▀█░█▀▀░▀█▀░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀░█░█░█▀▄░█▀█░▀█▀░▀█▀░█▀█░█▀█
// ░█▀▄░█░█░█▀▀░░█░░░░▄▄▄░░░█░░░█░█░█░█░█▀▀░░█░░█░█░█░█░█▀▄░█▀█░░█░░░█░░█░█░█░█
// ░▀░▀░▀▀▀░▀░░░▀▀▀░░░░░░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀░▀

configuration {
    font: "Recursive Sans Casual Static 18";
    show-icons: true;
}
