/*
░█▄█░█▀█░▀█▀░█░█░█▀▀░█▀▀░█▀█░░░░░░░░░█▀▀░█▀█░█▀▀░█▀▀░█▀█░█▀▄░▀█▀░█▀█░█▀▀░░░█▀▀░▀█▀░█░█░█░░░█▀▀░░░█▀▀░█░█░█▀▀░█▀▀░▀█▀░█▀▀
░█░█░█▀█░░█░░█░█░█░█░█▀▀░█░█░░░▄▄▄░░░█░░░█▀█░▀▀█░█░░░█▀█░█░█░░█░░█░█░█░█░░░▀▀█░░█░░░█░░█░░░█▀▀░░░▀▀█░█▀█░█▀▀░█▀▀░░█░░▀▀█
░▀░▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀▀▀░▀░▀░░░░░░░░░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀░▀░▀▀▀░░░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀░░░▀▀▀░▀░▀░▀▀▀░▀▀▀░░▀░░▀▀▀
*/


    @define-color background rgba(26, 17, 17, 1);

    @define-color error rgba(255, 180, 171, 1);

    @define-color error_container rgba(147, 0, 10, 1);

    @define-color inverse_on_surface rgba(56, 46, 45, 1);

    @define-color inverse_primary rgba(144, 74, 73, 1);

    @define-color inverse_surface rgba(240, 222, 221, 1);

    @define-color on_background rgba(240, 222, 221, 1);

    @define-color on_error rgba(105, 0, 5, 1);

    @define-color on_error_container rgba(255, 218, 214, 1);

    @define-color on_primary rgba(87, 29, 30, 1);

    @define-color on_primary_container rgba(255, 218, 216, 1);

    @define-color on_primary_fixed rgba(59, 8, 11, 1);

    @define-color on_primary_fixed_variant rgba(115, 51, 51, 1);

    @define-color on_secondary rgba(68, 41, 40, 1);

    @define-color on_secondary_container rgba(255, 218, 216, 1);

    @define-color on_secondary_fixed rgba(44, 21, 20, 1);

    @define-color on_secondary_fixed_variant rgba(93, 63, 62, 1);

    @define-color on_surface rgba(240, 222, 221, 1);

    @define-color on_surface_variant rgba(215, 193, 192, 1);

    @define-color on_tertiary rgba(65, 45, 5, 1);

    @define-color on_tertiary_container rgba(255, 222, 171, 1);

    @define-color on_tertiary_fixed rgba(39, 25, 0, 1);

    @define-color on_tertiary_fixed_variant rgba(90, 67, 25, 1);

    @define-color outline rgba(160, 140, 139, 1);

    @define-color outline_variant rgba(83, 67, 66, 1);

    @define-color primary rgba(255, 179, 176, 1);

    @define-color primary_container rgba(115, 51, 51, 1);

    @define-color primary_fixed rgba(255, 218, 216, 1);

    @define-color primary_fixed_dim rgba(255, 179, 176, 1);

    @define-color scrim rgba(0, 0, 0, 1);

    @define-color secondary rgba(230, 189, 187, 1);

    @define-color secondary_container rgba(93, 63, 62, 1);

    @define-color secondary_fixed rgba(255, 218, 216, 1);

    @define-color secondary_fixed_dim rgba(230, 189, 187, 1);

    @define-color shadow rgba(0, 0, 0, 1);

    @define-color source_color rgba(216, 89, 90, 1);

    @define-color surface rgba(26, 17, 17, 1);

    @define-color surface_bright rgba(66, 55, 54, 1);

    @define-color surface_container rgba(39, 29, 29, 1);

    @define-color surface_container_high rgba(50, 40, 39, 1);

    @define-color surface_container_highest rgba(61, 50, 50, 1);

    @define-color surface_container_low rgba(35, 25, 25, 1);

    @define-color surface_container_lowest rgba(20, 12, 12, 1);

    @define-color surface_dim rgba(26, 17, 17, 1);

    @define-color surface_tint rgba(255, 179, 176, 1);

    @define-color surface_variant rgba(83, 67, 66, 1);

    @define-color tertiary rgba(227, 194, 140, 1);

    @define-color tertiary_container rgba(90, 67, 25, 1);

    @define-color tertiary_fixed rgba(255, 222, 171, 1);

    @define-color tertiary_fixed_dim rgba(227, 194, 140, 1);



    @define-color background_blur rgba(26, 17, 17, 0);

    @define-color error_blur rgba(255, 180, 171, 0);

    @define-color error_container_blur rgba(147, 0, 10, 0);

    @define-color inverse_on_surface_blur rgba(56, 46, 45, 0);

    @define-color inverse_primary_blur rgba(144, 74, 73, 0);

    @define-color inverse_surface_blur rgba(240, 222, 221, 0);

    @define-color on_background_blur rgba(240, 222, 221, 0);

    @define-color on_error_blur rgba(105, 0, 5, 0);

    @define-color on_error_container_blur rgba(255, 218, 214, 0);

    @define-color on_primary_blur rgba(87, 29, 30, 0);

    @define-color on_primary_container_blur rgba(255, 218, 216, 0);

    @define-color on_primary_fixed_blur rgba(59, 8, 11, 0);

    @define-color on_primary_fixed_variant_blur rgba(115, 51, 51, 0);

    @define-color on_secondary_blur rgba(68, 41, 40, 0);

    @define-color on_secondary_container_blur rgba(255, 218, 216, 0);

    @define-color on_secondary_fixed_blur rgba(44, 21, 20, 0);

    @define-color on_secondary_fixed_variant_blur rgba(93, 63, 62, 0);

    @define-color on_surface_blur rgba(240, 222, 221, 0);

    @define-color on_surface_variant_blur rgba(215, 193, 192, 0);

    @define-color on_tertiary_blur rgba(65, 45, 5, 0);

    @define-color on_tertiary_container_blur rgba(255, 222, 171, 0);

    @define-color on_tertiary_fixed_blur rgba(39, 25, 0, 0);

    @define-color on_tertiary_fixed_variant_blur rgba(90, 67, 25, 0);

    @define-color outline_blur rgba(160, 140, 139, 0);

    @define-color outline_variant_blur rgba(83, 67, 66, 0);

    @define-color primary_blur rgba(255, 179, 176, 0);

    @define-color primary_container_blur rgba(115, 51, 51, 0);

    @define-color primary_fixed_blur rgba(255, 218, 216, 0);

    @define-color primary_fixed_dim_blur rgba(255, 179, 176, 0);

    @define-color scrim_blur rgba(0, 0, 0, 0);

    @define-color secondary_blur rgba(230, 189, 187, 0);

    @define-color secondary_container_blur rgba(93, 63, 62, 0);

    @define-color secondary_fixed_blur rgba(255, 218, 216, 0);

    @define-color secondary_fixed_dim_blur rgba(230, 189, 187, 0);

    @define-color shadow_blur rgba(0, 0, 0, 0);

    @define-color source_color_blur rgba(216, 89, 90, 0);

    @define-color surface_blur rgba(26, 17, 17, 0);

    @define-color surface_bright_blur rgba(66, 55, 54, 0);

    @define-color surface_container_blur rgba(39, 29, 29, 0);

    @define-color surface_container_high_blur rgba(50, 40, 39, 0);

    @define-color surface_container_highest_blur rgba(61, 50, 50, 0);

    @define-color surface_container_low_blur rgba(35, 25, 25, 0);

    @define-color surface_container_lowest_blur rgba(20, 12, 12, 0);

    @define-color surface_dim_blur rgba(26, 17, 17, 0);

    @define-color surface_tint_blur rgba(255, 179, 176, 0);

    @define-color surface_variant_blur rgba(83, 67, 66, 0);

    @define-color tertiary_blur rgba(227, 194, 140, 0);

    @define-color tertiary_container_blur rgba(90, 67, 25, 0);

    @define-color tertiary_fixed_blur rgba(255, 222, 171, 0);

    @define-color tertiary_fixed_dim_blur rgba(227, 194, 140, 0);



    @define-color background_mid rgba(26, 17, 17, 1);

    @define-color error_mid rgba(255, 180, 171, 1);

    @define-color error_container_mid rgba(147, 0, 10, 1);

    @define-color inverse_on_surface_mid rgba(56, 46, 45, 1);

    @define-color inverse_primary_mid rgba(144, 74, 73, 1);

    @define-color inverse_surface_mid rgba(240, 222, 221, 1);

    @define-color on_background_mid rgba(240, 222, 221, 1);

    @define-color on_error_mid rgba(105, 0, 5, 1);

    @define-color on_error_container_mid rgba(255, 218, 214, 1);

    @define-color on_primary_mid rgba(87, 29, 30, 1);

    @define-color on_primary_container_mid rgba(255, 218, 216, 1);

    @define-color on_primary_fixed_mid rgba(59, 8, 11, 1);

    @define-color on_primary_fixed_variant_mid rgba(115, 51, 51, 1);

    @define-color on_secondary_mid rgba(68, 41, 40, 1);

    @define-color on_secondary_container_mid rgba(255, 218, 216, 1);

    @define-color on_secondary_fixed_mid rgba(44, 21, 20, 1);

    @define-color on_secondary_fixed_variant_mid rgba(93, 63, 62, 1);

    @define-color on_surface_mid rgba(240, 222, 221, 1);

    @define-color on_surface_variant_mid rgba(215, 193, 192, 1);

    @define-color on_tertiary_mid rgba(65, 45, 5, 1);

    @define-color on_tertiary_container_mid rgba(255, 222, 171, 1);

    @define-color on_tertiary_fixed_mid rgba(39, 25, 0, 1);

    @define-color on_tertiary_fixed_variant_mid rgba(90, 67, 25, 1);

    @define-color outline_mid rgba(160, 140, 139, 1);

    @define-color outline_variant_mid rgba(83, 67, 66, 1);

    @define-color primary_mid rgba(255, 179, 176, 1);

    @define-color primary_container_mid rgba(115, 51, 51, 1);

    @define-color primary_fixed_mid rgba(255, 218, 216, 1);

    @define-color primary_fixed_dim_mid rgba(255, 179, 176, 1);

    @define-color scrim_mid rgba(0, 0, 0, 1);

    @define-color secondary_mid rgba(230, 189, 187, 1);

    @define-color secondary_container_mid rgba(93, 63, 62, 1);

    @define-color secondary_fixed_mid rgba(255, 218, 216, 1);

    @define-color secondary_fixed_dim_mid rgba(230, 189, 187, 1);

    @define-color shadow_mid rgba(0, 0, 0, 1);

    @define-color source_color_mid rgba(216, 89, 90, 1);

    @define-color surface_mid rgba(26, 17, 17, 1);

    @define-color surface_bright_mid rgba(66, 55, 54, 1);

    @define-color surface_container_mid rgba(39, 29, 29, 1);

    @define-color surface_container_high_mid rgba(50, 40, 39, 1);

    @define-color surface_container_highest_mid rgba(61, 50, 50, 1);

    @define-color surface_container_low_mid rgba(35, 25, 25, 1);

    @define-color surface_container_lowest_mid rgba(20, 12, 12, 1);

    @define-color surface_dim_mid rgba(26, 17, 17, 1);

    @define-color surface_tint_mid rgba(255, 179, 176, 1);

    @define-color surface_variant_mid rgba(83, 67, 66, 1);

    @define-color tertiary_mid rgba(227, 194, 140, 1);

    @define-color tertiary_container_mid rgba(90, 67, 25, 1);

    @define-color tertiary_fixed_mid rgba(255, 222, 171, 1);

    @define-color tertiary_fixed_dim_mid rgba(227, 194, 140, 1);

